In [194]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

In [195]:
df = pd.read_csv("train.csv", index_col= 0)
display(df.head())

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,...,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,...,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,...,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [196]:
display(df.shape)

(1460, 80)

In [197]:
display(df.columns)

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

In [198]:
columns_to_select = [
    'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 
    'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 
    'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 
    'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 
    'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd'
]

# Select columns
df_selected = df[columns_to_select]

In [199]:
display(df_selected.head(5))

,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd
Id,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8
2,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,Y,SBrkr,1262,0,0,1262,0,1,2,0,3,1,TA,6
3,TA,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,Y,SBrkr,920,866,0,1786,1,0,2,1,3,1,Gd,6
4,TA,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,Y,SBrkr,961,756,0,1717,1,0,1,0,3,1,Gd,7
5,TA,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4,1,Gd,9

In [200]:
df_selected.columns

Index(['ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure',
       'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF',
       'TotalBsmtSF', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical',
       '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath',
       'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr',
       'KitchenQual', 'TotRmsAbvGrd'],
      dtype='object')

In [201]:
# Missing values
missing_values = df_selected.isnull().sum()

# Duplicate rows
duplicates = df_selected.duplicated().sum()

display(missing_values)
display(duplicates)

ExterCond        0
Foundation       0
BsmtQual        37
BsmtCond        37
BsmtExposure    38
BsmtFinType1    37
BsmtFinSF1       0
BsmtFinType2    38
BsmtFinSF2       0
BsmtUnfSF        0
TotalBsmtSF      0
Heating          0
HeatingQC        0
CentralAir       0
Electrical       1
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
BsmtFullBath     0
BsmtHalfBath     0
FullBath         0
HalfBath         0
BedroomAbvGr     0
KitchenAbvGr     0
KitchenQual      0
TotRmsAbvGrd     0
dtype: int64

13

In [202]:
# Print all dupes, originals and duplicates
duplicates = df_selected[df_selected.duplicated(keep=False)]
display(duplicates)

,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd
Id,,,,,,,,,,,,,,,,,,,,,,,,,,,
120,TA,PConc,Gd,TA,No,Unf,0,Unf,0,728,728,GasA,Ex,Y,SBrkr,728,728,0,1456,0,0,2,1,3,1,Gd,8
146,TA,PConc,Gd,TA,No,Unf,0,Unf,0,970,970,GasA,Ex,Y,SBrkr,970,739,0,1709,0,0,2,0,3,1,Gd,7
194,TA,PConc,Gd,TA,No,Unf,0,Unf,0,970,970,GasA,Ex,Y,SBrkr,970,739,0,1709,0,0,2,0,3,1,Gd,7
204,TA,PConc,Gd,TA,Av,GLQ,662,Unf,0,186,848,GasA,Ex,Y,SBrkr,848,0,0,848,1,0,1,0,1,1,Gd,3
226,TA,CBlock,TA,TA,No,Unf,0,Unf,0,630,630,GasA,TA,Y,SBrkr,630,672,0,1302,0,0,2,1,3,1,TA,6
253,TA,PConc,Gd,TA,No,Unf,0,Unf,0,798,798,GasA,Ex,Y,SBrkr,798,842,0,1640,0,0,2,1,3,1,Gd,6
283,TA,PConc,Gd,TA,No,GLQ,904,Unf,0,410,1314,GasA,Ex,Y,SBrkr,1314,0,0,1314,1,0,2,0,2,1,Gd,6
286,TA,PConc,Gd,TA,No,Unf,0,Unf,0,625,625,GasA,Ex,Y,SBrkr,625,625,0,1250,0,0,2,1,2,1,Gd,5
343,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,Wall,Fa,N,FuseA,1040,0,0,1040,0,0,2,0,2,2,TA,6
512,TA,PConc,Gd,TA,No,Unf,0,Unf,0,1368,1368,GasA,Ex,Y,SBrkr,1368,0,0,1368,0,0,2,0,2,1,Gd,6
594,TA,PConc,Gd,TA,Av,GLQ,685,Unf,0,163,848,GasA,Ex,Y,SBrkr,848,0,0,848,1,0,1,0,1,1,Gd,4
722,TA,PConc,Gd,TA,Av,GLQ,662,Unf,0,186,848,GasA,Ex,Y,SBrkr,848,0,0,848,1,0,1,0,1,1,Gd,3
821,TA,PConc,Gd,TA,No,Unf,0,Unf,0,798,798,GasA,Ex,Y,SBrkr,798,842,0,1640,0,0,2,1,3,1,Gd,6
832,TA,PConc,Gd,TA,No,Unf,0,Unf,0,600,600,GasA,Ex,Y,SBrkr,520,600,80,1200,0,0,2,1,2,1,Gd,4
1089,TA,PConc,Gd,TA,No,Unf,0,Unf,0,970,970,GasA,Ex,Y,SBrkr,970,739,0,1709,0,0,2,0,3,1,Gd,7
1091,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,Wall,Fa,N,FuseA,1040,0,0,1040,0,0,2,0,2,2,TA,6
1105,TA,CBlock,TA,TA,No,Unf,0,Unf,0,630,630,GasA,TA,Y,SBrkr,630,672,0,1302,0,0,2,1,3,1,TA,6
1158,TA,PConc,Gd,TA,No,GLQ,904,Unf,0,410,1314,GasA,Ex,Y,SBrkr,1314,0,0,1314,1,0,2,0,2,1,Gd,6
1173,TA,PConc,Gd,TA,No,Unf,0,Unf,0,625,625,GasA,Ex,Y,SBrkr,625,625,0,1250,0,0,2,1,2,1,Gd,5
1196,TA,PConc,Gd,TA,No,Unf,0,Unf,0,728,728,GasA,Ex,Y,SBrkr,728,728,0,1456,0,0,2,1,3,1,Gd,8
1307,TA,PConc,Gd,TA,No,Unf,0,Unf,0,1368,1368,GasA,Ex,Y,SBrkr,1368,0,0,1368,0,0,2,0,2,1,Gd,6
1345,TA,PConc,Gd,TA,No,Unf,0,Unf,0,728,728,GasA,Ex,Y,SBrkr,728,728,0,1456,0,0,2,1,3,1,Gd,8
1365,TA,PConc,Gd,TA,No,Unf,0,Unf,0,600,600,GasA,Ex,Y,SBrkr,520,600,80,1200,0,0,2,1,2,1,Gd,4
1369,TA,PConc,Gd,TA,Av,GLQ,685,Unf,0,163,848,GasA,Ex,Y,SBrkr,848,0,0,848,1,0,1,0,1,1,Gd,4

In [203]:
#Sort Duplicates by Living Area in order to see which pairs are dupes

duplicates_sorted = duplicates.sort_values(by='GrLivArea')
display(duplicates_sorted)

,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd
Id,,,,,,,,,,,,,,,,,,,,,,,,,,,
722,TA,PConc,Gd,TA,Av,GLQ,662,Unf,0,186,848,GasA,Ex,Y,SBrkr,848,0,0,848,1,0,1,0,1,1,Gd,3
594,TA,PConc,Gd,TA,Av,GLQ,685,Unf,0,163,848,GasA,Ex,Y,SBrkr,848,0,0,848,1,0,1,0,1,1,Gd,4
204,TA,PConc,Gd,TA,Av,GLQ,662,Unf,0,186,848,GasA,Ex,Y,SBrkr,848,0,0,848,1,0,1,0,1,1,Gd,3
1369,TA,PConc,Gd,TA,Av,GLQ,685,Unf,0,163,848,GasA,Ex,Y,SBrkr,848,0,0,848,1,0,1,0,1,1,Gd,4
343,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,Wall,Fa,N,FuseA,1040,0,0,1040,0,0,2,0,2,2,TA,6
1091,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,Wall,Fa,N,FuseA,1040,0,0,1040,0,0,2,0,2,2,TA,6
832,TA,PConc,Gd,TA,No,Unf,0,Unf,0,600,600,GasA,Ex,Y,SBrkr,520,600,80,1200,0,0,2,1,2,1,Gd,4
1365,TA,PConc,Gd,TA,No,Unf,0,Unf,0,600,600,GasA,Ex,Y,SBrkr,520,600,80,1200,0,0,2,1,2,1,Gd,4
1173,TA,PConc,Gd,TA,No,Unf,0,Unf,0,625,625,GasA,Ex,Y,SBrkr,625,625,0,1250,0,0,2,1,2,1,Gd,5
286,TA,PConc,Gd,TA,No,Unf,0,Unf,0,625,625,GasA,Ex,Y,SBrkr,625,625,0,1250,0,0,2,1,2,1,Gd,5
1105,TA,CBlock,TA,TA,No,Unf,0,Unf,0,630,630,GasA,TA,Y,SBrkr,630,672,0,1302,0,0,2,1,3,1,TA,6
226,TA,CBlock,TA,TA,No,Unf,0,Unf,0,630,630,GasA,TA,Y,SBrkr,630,672,0,1302,0,0,2,1,3,1,TA,6
283,TA,PConc,Gd,TA,No,GLQ,904,Unf,0,410,1314,GasA,Ex,Y,SBrkr,1314,0,0,1314,1,0,2,0,2,1,Gd,6
1158,TA,PConc,Gd,TA,No,GLQ,904,Unf,0,410,1314,GasA,Ex,Y,SBrkr,1314,0,0,1314,1,0,2,0,2,1,Gd,6
512,TA,PConc,Gd,TA,No,Unf,0,Unf,0,1368,1368,GasA,Ex,Y,SBrkr,1368,0,0,1368,0,0,2,0,2,1,Gd,6
1307,TA,PConc,Gd,TA,No,Unf,0,Unf,0,1368,1368,GasA,Ex,Y,SBrkr,1368,0,0,1368,0,0,2,0,2,1,Gd,6
1196,TA,PConc,Gd,TA,No,Unf,0,Unf,0,728,728,GasA,Ex,Y,SBrkr,728,728,0,1456,0,0,2,1,3,1,Gd,8
1345,TA,PConc,Gd,TA,No,Unf,0,Unf,0,728,728,GasA,Ex,Y,SBrkr,728,728,0,1456,0,0,2,1,3,1,Gd,8
120,TA,PConc,Gd,TA,No,Unf,0,Unf,0,728,728,GasA,Ex,Y,SBrkr,728,728,0,1456,0,0,2,1,3,1,Gd,8
821,TA,PConc,Gd,TA,No,Unf,0,Unf,0,798,798,GasA,Ex,Y,SBrkr,798,842,0,1640,0,0,2,1,3,1,Gd,6
253,TA,PConc,Gd,TA,No,Unf,0,Unf,0,798,798,GasA,Ex,Y,SBrkr,798,842,0,1640,0,0,2,1,3,1,Gd,6
194,TA,PConc,Gd,TA,No,Unf,0,Unf,0,970,970,GasA,Ex,Y,SBrkr,970,739,0,1709,0,0,2,0,3,1,Gd,7
1089,TA,PConc,Gd,TA,No,Unf,0,Unf,0,970,970,GasA,Ex,Y,SBrkr,970,739,0,1709,0,0,2,0,3,1,Gd,7
146,TA,PConc,Gd,TA,No,Unf,0,Unf,0,970,970,GasA,Ex,Y,SBrkr,970,739,0,1709,0,0,2,0,3,1,Gd,7

In [204]:
# Examine the Missing Values

df_with_nans = df_selected[df_selected.isna().any(axis=1)]
display(df_with_nans)

,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd
Id,,,,,,,,,,,,,,,,,,,,,,,,,,,
18,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,TA,Y,SBrkr,1296,0,0,1296,0,0,2,0,2,2,TA,6
40,TA,PConc,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,TA,N,FuseP,1152,0,0,1152,0,0,2,0,2,2,Fa,6
91,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,TA,Y,FuseA,1040,0,0,1040,0,0,1,0,2,1,TA,4
103,Fa,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,TA,Y,SBrkr,1535,0,0,1535,0,0,2,0,4,2,TA,8
157,TA,CBlock,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,TA,Y,FuseF,1040,0,0,1040,0,0,1,0,2,1,TA,5
183,TA,PConc,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,Ex,Y,SBrkr,1340,0,0,1340,0,0,1,0,3,1,TA,7
260,TA,PConc,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,Gd,Y,FuseA,882,0,0,882,0,0,1,0,2,1,TA,4
333,TA,PConc,Gd,TA,No,GLQ,1124,NaN,479,1603,3206,GasA,Ex,Y,SBrkr,1629,0,0,1629,1,0,2,0,3,1,Gd,7
343,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,Wall,Fa,N,FuseA,1040,0,0,1040,0,0,2,0,2,2,TA,6
363,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,Ex,Y,SBrkr,495,1427,0,1922,0,0,3,0,4,1,Gd,7
372,TA,CBlock,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,TA,Y,SBrkr,1120,468,0,1588,0,0,2,0,4,1,TA,7
393,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,TA,Y,SBrkr,882,0,0,882,0,0,1,0,3,1,TA,5
521,TA,BrkTil,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,TA,N,FuseA,694,600,0,1294,0,0,2,0,3,2,TA,7
533,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,Ex,Y,SBrkr,827,0,0,827,0,0,1,0,2,1,TA,5
534,Fa,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,Fa,N,FuseF,334,0,0,334,0,0,1,0,1,1,Fa,2
554,TA,CBlock,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,Ex,Y,SBrkr,1126,0,0,1126,0,0,2,0,2,1,Gd,5
647,TA,CBlock,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,Gd,Y,SBrkr,1048,0,0,1048,0,0,1,0,3,1,TA,7
706,Fa,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,Fa,N,SBrkr,372,720,0,1092,0,0,2,0,3,2,Fa,7
737,TA,CBlock,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,Gd,N,FuseF,1040,0,0,1040,0,0,2,0,2,2,TA,6
750,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,Wall,TA,N,FuseF,1088,441,0,1529,0,0,2,0,4,1,TA,9
779,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,TA,Y,SBrkr,2020,0,0,2020,0,0,2,0,4,2,TA,10
869,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,Gd,Y,SBrkr,1547,720,53,2320,0,0,2,0,2,1,TA,7
895,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,TA,Y,SBrkr,1535,0,0,1535,0,0,2,0,4,2,TA,8
898,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,TA,Y,SBrkr,1120,1120,0,2240,0,0,2,0,6,2,TA,12
949,TA,PConc,Gd,TA,NaN,Unf,0,Unf,0,936,936,GasA,Ex,Y,SBrkr,936,840,0,1776,0,0,2,1,3,1,Gd,7
985,TA,CBlock,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,TA,Y,SBrkr,1302,432,0,1734,0,0,2,0,4,2,Gd,8
1001,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasW,Fa,N,FuseF,944,0,0,944,0,0,1,0,2,1,Fa,4
1012,TA,CBlock,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,TA,N,SBrkr,1664,0,0,1664,0,0,2,0,4,2,TA,8
1036,Gd,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,Ex,N,SBrkr,845,0,0,845,0,0,1,0,3,1,TA,5
1046,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,Ex,Y,FuseA,1733,0,0,1733,0,0,2,0,4,1,TA,8
1049,Fa,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,TA,Y,SBrkr,1771,0,0,1771,0,0,1,0,3,1,TA,9
1050,TA,CBlock,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,Ex,Y,SBrkr,930,0,0,930,0,0,1,0,2,1,Gd,6
1091,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,Wall,Fa,N,FuseA,1040,0,0,1040,0,0,2,0,2,2,TA,6
1180,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,Gd,Y,SBrkr,1124,0,0,1124,0,0,1,0,3,1,TA,5
1217,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,TA,Y,SBrkr,1318,584,0,1902,0,0,2,0,4,2,TA,8
1219,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,Gd,N,SBrkr,672,240,0,912,0,0,1,0,2,1,TA,3
1233,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,TA,Y,SBrkr,1224,0,0,1224,0,0,2,0,2,2,TA,6
1322,TA,CBlock,NaN,NaN,NaN,NaN,0,NaN,0,0,0,Floor,TA,N,SBrkr,720,0,0,720,0,0,1,0,2,1,TA,4
1380,TA,PConc,Gd,TA,No,Unf,0,Unf,0,384,384,GasA,Gd,Y,NaN,754,640,0,1394,0,0,2,1,3,1,Gd,7
1413,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,Wall,Fa,N,FuseF,1040,0,0,1040,0,0,2,0,2,2,TA,6

In [205]:
# House with no Basements are coded as Nan

# I replace this with "no basement" to avoid confusion

# Select all columns starting with 'Bsmt'
bsmt_columns = df_selected.columns[df_selected.columns.str.startswith('Bsmt')]

# Replace both NaN and <NA> with 'no basement'
df_selected.loc[:, bsmt_columns] = df_selected.loc[:, bsmt_columns].apply(lambda x: x.fillna('no basement').replace({np.nan: 'no basement'}))

#df_selected.loc[:, df_selected.columns.str.startswith('Bsmt')] = df_selected.loc[:, df_selected.columns.str.startswith('Bsmt')].fillna('no basement')

#df_selected.loc[:, df_selected.columns.str.startswith('Bsmt')] = df_selected.loc[:, df_selected.columns.str.startswith('Bsmt')].replace({np.nan: 'no basement'})

In [206]:
df_selected['BsmtQual'].unique()

array(['Gd', 'TA', 'Ex', 'no basement', 'Fa'], dtype=object)

In [207]:
missing_values = df_selected.isnull().sum()
display(missing_values)

ExterCond       0
Foundation      0
BsmtQual        0
BsmtCond        0
BsmtExposure    0
BsmtFinType1    0
BsmtFinSF1      0
BsmtFinType2    0
BsmtFinSF2      0
BsmtUnfSF       0
TotalBsmtSF     0
Heating         0
HeatingQC       0
CentralAir      0
Electrical      1
1stFlrSF        0
2ndFlrSF        0
LowQualFinSF    0
GrLivArea       0
BsmtFullBath    0
BsmtHalfBath    0
FullBath        0
HalfBath        0
BedroomAbvGr    0
KitchenAbvGr    0
KitchenQual     0
TotRmsAbvGrd    0
dtype: int64

In [208]:
# NaN in the "Electrical" column

pd.set_option('display.max_columns', 27)
missing_electrical = df_selected[df_selected['Electrical'].isna()]
display(missing_electrical)

,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd
Id,,,,,,,,,,,,,,,,,,,,,,,,,,,
1380,TA,PConc,Gd,TA,No,Unf,0,Unf,0,384,384,GasA,Gd,Y,NaN,754,640,0,1394,0,0,2,1,3,1,Gd,7

In [209]:
# There is one missing value in Electricity
# Instead of just finding the mode of the electricity variable, I take the mode
# of Electricity for all of the houses that have similar characteristics in terms of
# Central Air, Heating, and Heating QC.

filtered_data = df_selected[(df_selected['CentralAir'] == 'Y') & 
                            (df_selected['Heating'] == 'GasA') & 
                            (df_selected['HeatingQC'] == 'Gd')]

# Mode
mode_electrical = filtered_data['Electrical'].mode()

# Display the mode(s)
display(mode_electrical)

0    SBrkr
Name: Electrical, dtype: object

In [210]:
# replace the one missing value with the associated mode from above
df_selected.loc[:, 'Electrical'] = df_selected['Electrical'].fillna('SBrkr')

In [211]:
missing_values = df_selected.isnull().sum()
display(missing_values)

## No more Missing values

ExterCond       0
Foundation      0
BsmtQual        0
BsmtCond        0
BsmtExposure    0
BsmtFinType1    0
BsmtFinSF1      0
BsmtFinType2    0
BsmtFinSF2      0
BsmtUnfSF       0
TotalBsmtSF     0
Heating         0
HeatingQC       0
CentralAir      0
Electrical      0
1stFlrSF        0
2ndFlrSF        0
LowQualFinSF    0
GrLivArea       0
BsmtFullBath    0
BsmtHalfBath    0
FullBath        0
HalfBath        0
BedroomAbvGr    0
KitchenAbvGr    0
KitchenQual     0
TotRmsAbvGrd    0
dtype: int64

In [212]:
df_selected.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 1 to 1460
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ExterCond     1460 non-null   object
 1   Foundation    1460 non-null   object
 2   BsmtQual      1460 non-null   object
 3   BsmtCond      1460 non-null   object
 4   BsmtExposure  1460 non-null   object
 5   BsmtFinType1  1460 non-null   object
 6   BsmtFinSF1    1460 non-null   int64
 7   BsmtFinType2  1460 non-null   object
 8   BsmtFinSF2    1460 non-null   int64
 9   BsmtUnfSF     1460 non-null   int64
 10  TotalBsmtSF   1460 non-null   int64
 11  Heating       1460 non-null   object
 12  HeatingQC     1460 non-null   object
 13  CentralAir    1460 non-null   object
 14  Electrical    1460 non-null   object
 15  1stFlrSF      1460 non-null   int64
 16  2ndFlrSF      1460 non-null   int64
 17  LowQualFinSF  1460 non-null   int64
 18  GrLivArea     1460 non-null   int64
 19  BsmtFullBath  1460 non-null   int64
 20  BsmtHalfBath  1460 non-null   int64
 21  FullBath      1460 non-null   int64
 22  HalfBath      1460 non-null   int64
 23  BedroomAbvGr  1460 non-null   int64
 24  KitchenAbvGr  1460 non-null   int64
 25  KitchenQual   1460 non-null   object
 26  TotRmsAbvGrd  1460 non-null   int64
dtypes: int64(15), object(12)
memory usage: 319.4+ KB

# Above has replaced the missing values and Identified potential duplicates

# Convert Categorical and Ordinal Variables to Numeric

## Create Lists of Categorical, Ordinal, and Numeric Variables'

In [213]:
cat_vars = ['Foundation', 'Heating', 'Electrical']

ordinal_vars = ['ExterCond', 'BsmtQual', 'BsmtCond' 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'HeatingQC',
                'CentralAir', 'KitchenQual']                

numeric_vars = ['BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
                'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'Bedroom', 'Kitchen', 'TotRmsAbvGrd']

## Create dictionary of variable codings

In [214]:
var_dict = {
    'ExterCond': ['Po', 'Fa', 'TA', 'Gd', 'Ex'],
    'BsmtQual': ['no basement', 'Po', 'Fa', 'TA', 'Gd', 'Ex'],
    'BsmtCond': ['no basement', 'Po', 'Fa', 'TA', 'Gd', 'Ex'],
    'BsmtExposure': ['no basement', 'No', 'Mn', 'Av', 'Gd'],
    'BsmtFinType1': ['no basement', 'Unf', 'LwQ', 'Rec', 'BLQ', 'ALQ', 'GLQ'],
    'BsmtFinType2': ['no basement', 'Unf', 'LwQ', 'Rec', 'BLQ', 'ALQ', 'GLQ'],
    'HeatingQC': ['Po', 'Fa', 'TA', 'Gd', 'Ex'],
    'CentralAir': ['N', 'Y'],
    'KitchenQual': ['Po', 'Fa', 'TA', 'Gd', 'Ex']
}

In [215]:
 df_selected = df_selected.copy()

# Define binary variables
binary_vars = ['CentralAir']

def create_mapping(categories, variable):
    mapping = {}
    
    # Handle binary variables
    if variable in binary_vars:
        mapping = {'N': 0, 'Y': 1}
        return mapping
    
    # Handle ordinal variables
    start_idx = 0
    if categories[0] == 'no basement':
        mapping['no basement'] = 0
        start_idx = 1
    
    for i, category in enumerate(categories[start_idx:], start=1):
        mapping[category] = i
        
    return mapping

# Debugging function to find mismatched values
def find_mismatches(df, variable, mapping):
    actual_values = set(df[variable].unique())
    mapping_keys = set(mapping.keys())
    mismatched_values = actual_values - mapping_keys
    return mismatched_values

# Create all mappings and apply them to the dataframe
for variable, categories in var_dict.items():
    # Create mapping for this variable
    mapping = create_mapping(categories, variable)
    
    # Find mismatched values
    mismatches = find_mismatches(df_selected, variable, mapping)
    if mismatches:
        print(f"Warning: Mismatched values for '{variable}': {mismatches}")
    
    # Apply mapping using .map()
    df_selected[variable] = df_selected[variable].map(mapping)
    
    # Handle potential NaN values
    if df_selected[variable].isna().any():
        print(f"Warning: Found NaN values in '{variable}' after mapping. Filling with 0.")
        df_selected[variable] = df_selected[variable].fillna(0)
    
    # Convert to int64
    df_selected[variable] = df_selected[variable].astype('int64')
    
    # Print results for verification
    print(f"\nProcessed {variable}:")
    print("Mapping:", mapping)
    print("Unique values in DataFrame:", df_selected[variable].unique())

Processed ExterCond:
Mapping: {'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}
Unique values in DataFrame: [3 4 2 1 5]

Processed BsmtQual:
Mapping: {'no basement': 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}
Unique values in DataFrame: [4 3 5 0 2]

Processed BsmtCond:
Mapping: {'no basement': 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}
Unique values in DataFrame: [3 4 0 2 1]

Processed BsmtExposure:
Mapping: {'no basement': 0, 'No': 1, 'Mn': 2, 'Av': 3, 'Gd': 4}
Unique values in DataFrame: [1 4 2 3 0]

Processed BsmtFinType1:
Mapping: {'no basement': 0, 'Unf': 1, 'LwQ': 2, 'Rec': 3, 'BLQ': 4, 'ALQ': 5, 'GLQ': 6}
Unique values in DataFrame: [6 5 1 3 4 0 2]

Processed BsmtFinType2:
Mapping: {'no basement': 0, 'Unf': 1, 'LwQ': 2, 'Rec': 3, 'BLQ': 4, 'ALQ': 5, 'GLQ': 6}
Unique values in DataFrame: [1 4 0 5 3 2 6]

Processed HeatingQC:
Mapping: {'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}
Unique values in DataFrame: [5 4 3 2 1]

Processed CentralAir:
Mapping: {'N': 0, 'Y': 1}
Unique values in DataFrame: [1 0]

Processed KitchenQual:
Mapping: {'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}
Unique values in DataFrame: [4 3 5 2]

In [216]:
df_selected.isnull().sum()

ExterCond       0
Foundation      0
BsmtQual        0
BsmtCond        0
BsmtExposure    0
BsmtFinType1    0
BsmtFinSF1      0
BsmtFinType2    0
BsmtFinSF2      0
BsmtUnfSF       0
TotalBsmtSF     0
Heating         0
HeatingQC       0
CentralAir      0
Electrical      0
1stFlrSF        0
2ndFlrSF        0
LowQualFinSF    0
GrLivArea       0
BsmtFullBath    0
BsmtHalfBath    0
FullBath        0
HalfBath        0
BedroomAbvGr    0
KitchenAbvGr    0
KitchenQual     0
TotRmsAbvGrd    0
dtype: int64

In [217]:
df_selected.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 1 to 1460
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ExterCond     1460 non-null   int64
 1   Foundation    1460 non-null   object
 2   BsmtQual      1460 non-null   int64
 3   BsmtCond      1460 non-null   int64
 4   BsmtExposure  1460 non-null   int64
 5   BsmtFinType1  1460 non-null   int64
 6   BsmtFinSF1    1460 non-null   int64
 7   BsmtFinType2  1460 non-null   int64
 8   BsmtFinSF2    1460 non-null   int64
 9   BsmtUnfSF     1460 non-null   int64
 10  TotalBsmtSF   1460 non-null   int64
 11  Heating       1460 non-null   object
 12  HeatingQC     1460 non-null   int64
 13  CentralAir    1460 non-null   int64
 14  Electrical    1460 non-null   object
 15  1stFlrSF      1460 non-null   int64
 16  2ndFlrSF      1460 non-null   int64
 17  LowQualFinSF  1460 non-null   int64
 18  GrLivArea     1460 non-null   int64
 19  BsmtFullBath  1460 non-null   int64
 20  BsmtHalfBath  1460 non-null   int64
 21  FullBath      1460 non-null   int64
 22  HalfBath      1460 non-null   int64
 23  BedroomAbvGr  1460 non-null   int64
 24  KitchenAbvGr  1460 non-null   int64
 25  KitchenQual   1460 non-null   int64
 26  TotRmsAbvGrd  1460 non-null   int64
dtypes: int64(24), object(3)
memory usage: 319.4+ KB

# Encode Categorical Variables Using the One Hot Encoder

In [218]:
# Create and fit the encoder
encoder = OneHotEncoder(sparse_output=False, drop=None, handle_unknown='error')
encoded_cats = encoder.fit_transform(df_selected[cat_vars])

# Get feature names and create DataFrame with boolean type
feature_names = encoder.get_feature_names_out(cat_vars)
encoded_df = pd.DataFrame(encoded_cats, columns=feature_names, index=df.index).astype(bool)

# Drop original categorical columns and merge with encoded ones
df_selected = df_selected.drop(columns=cat_vars)
df_final = pd.concat([df_selected, encoded_df], axis=1)

#change CentraAir to boolean
df_final['CentralAir'] = df_final['CentralAir'].astype(bool)

# Verification prints
print("Original df_selected shape:", df_selected.shape)
print("encoded_df shape:", encoded_df.shape)
print("Final merged df shape:", df_final.shape)
print("\nColumn types in final dataframe:")
print(df_final.dtypes.value_counts())

Original df_selected shape: (1460, 24)
encoded_df shape: (1460, 17)
Final merged df shape: (1460, 41)

Column types in final dataframe:
int64    23
bool     18
Name: count, dtype: int64

In [219]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 1 to 1460
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ExterCond          1460 non-null   int64
 1   BsmtQual           1460 non-null   int64
 2   BsmtCond           1460 non-null   int64
 3   BsmtExposure       1460 non-null   int64
 4   BsmtFinType1       1460 non-null   int64
 5   BsmtFinSF1         1460 non-null   int64
 6   BsmtFinType2       1460 non-null   int64
 7   BsmtFinSF2         1460 non-null   int64
 8   BsmtUnfSF          1460 non-null   int64
 9   TotalBsmtSF        1460 non-null   int64
 10  HeatingQC          1460 non-null   int64
 11  CentralAir         1460 non-null   bool
 12  1stFlrSF           1460 non-null   int64
 13  2ndFlrSF           1460 non-null   int64
 14  LowQualFinSF       1460 non-null   int64
 15  GrLivArea          1460 non-null   int64
 16  BsmtFullBath       1460 non-null   int64
 17  BsmtHalfBath       1460 non-null   int64
 18  FullBath           1460 non-null   int64
 19  HalfBath           1460 non-null   int64
 20  BedroomAbvGr       1460 non-null   int64
 21  KitchenAbvGr       1460 non-null   int64
 22  KitchenQual        1460 non-null   int64
 23  TotRmsAbvGrd       1460 non-null   int64
 24  Foundation_BrkTil  1460 non-null   bool
 25  Foundation_CBlock  1460 non-null   bool
 26  Foundation_PConc   1460 non-null   bool
 27  Foundation_Slab    1460 non-null   bool
 28  Foundation_Stone   1460 non-null   bool
 29  Foundation_Wood    1460 non-null   bool
 30  Heating_Floor      1460 non-null   bool
 31  Heating_GasA       1460 non-null   bool
 32  Heating_GasW       1460 non-null   bool
 33  Heating_Grav       1460 non-null   bool
 34  Heating_OthW       1460 non-null   bool
 35  Heating_Wall       1460 non-null   bool
 36  Electrical_FuseA   1460 non-null   bool
 37  Electrical_FuseF   1460 non-null   bool
 38  Electrical_FuseP   1460 non-null   bool
 39  Electrical_Mix     1460 non-null   bool
 40  Electrical_SBrkr   1460 non-null   bool
dtypes: bool(18), int64(23)
memory usage: 299.4 KB

# No Missing Values, All Numeric variables

In [1113]:
df_num = df_selected

In [1114]:
# Double checking for missing values

# df_num_with_nans = df_num[df_num.isna().any(axis=1)]
# print(df_num_with_nans)
# print(df_num.isna().sum())
# print(df_num.info())

In [1115]:
# First, encode all of the Categorical Variables where order doesn't matter

df_num = pd.get_dummies(df_num, columns=['Foundation', 'Heating', 'Electrical'], drop_first=True)
print(df_num.info())
print(df_num.shape)
print(df_num.index)

# To Avoid Multicollinearity
# Foundation dropped BrkTil (brick and Tile)
# Heating dropped Floor (Floor Furnace)
# Electrical dropped FuseA	(Fuse Box over 60 AMP and all Romex wiring (Average))

## I tried using the OneHotEncoder but it was inserting extra rows into the DF, so I used get_dummies() instead

<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 1 to 1460
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ExterCond          1460 non-null   object
 1   BsmtQual           1460 non-null   object
 2   BsmtCond           1460 non-null   object
 3   BsmtExposure       1460 non-null   object
 4   BsmtFinType1       1460 non-null   object
 5   BsmtFinSF1         1460 non-null   int64
 6   BsmtFinType2       1460 non-null   object
 7   BsmtFinSF2         1460 non-null   int64
 8   BsmtUnfSF          1460 non-null   int64
 9   TotalBsmtSF        1460 non-null   int64
 10  HeatingQC          1460 non-null   object
 11  CentralAir         1460 non-null   object
 12  1stFlrSF           1460 non-null   int64
 13  2ndFlrSF           1460 non-null   int64
 14  LowQualFinSF       1460 non-null   int64
 15  GrLivArea          1460 non-null   int64
 16  BsmtFullBath       1460 non-null   int64
 17  BsmtHalfBath       1460 non-null   int64
 18  FullBath           1460 non-null   int64
 19  HalfBath           1460 non-null   int64
 20  BedroomAbvGr       1460 non-null   int64
 21  KitchenAbvGr       1460 non-null   int64
 22  KitchenQual        1460 non-null   object
 23  TotRmsAbvGrd       1460 non-null   int64
 24  Foundation_CBlock  1460 non-null   bool
 25  Foundation_PConc   1460 non-null   bool
 26  Foundation_Slab    1460 non-null   bool
 27  Foundation_Stone   1460 non-null   bool
 28  Foundation_Wood    1460 non-null   bool
 29  Heating_GasA       1460 non-null   bool
 30  Heating_GasW       1460 non-null   bool
 31  Heating_Grav       1460 non-null   bool
 32  Heating_OthW       1460 non-null   bool
 33  Heating_Wall       1460 non-null   bool
 34  Electrical_FuseF   1460 non-null   bool
 35  Electrical_FuseP   1460 non-null   bool
 36  Electrical_Mix     1460 non-null   bool
 37  Electrical_SBrkr   1460 non-null   bool
dtypes: bool(14), int64(15), object(9)
memory usage: 305.1+ KB
None
(1460, 38)
Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460],
      dtype='int64', name='Id', length=1460)

In [1116]:
# Next, transform Ordinal variables, where order does matter, using Mapping

In [1117]:
# ExterCond (Evaluates the present condition of the material on the exterior)

print(df_num['ExterCond'].unique()) 
print(df_num['ExterCond'].value_counts()) 

# Map
extercond_map = {
    'Ex': 5,  # Excellent
    'Gd': 4,  # Good
    'TA': 3,  # Average/Typical 
    'Fa': 2,  # Fair 
    'Po': 1  # Poor 
}
df_num.loc[:, 'ExterCond'] = df_num['ExterCond'].map(extercond_map)

# Convert to Int64
df_num = df_num.copy()
df_num['ExterCond'] = df_num['ExterCond'].astype('Int64')

# Verify changes
print(df_num.info())
print("Final unique values:", df_num['ExterCond'].unique())

print(df_num.shape)

['Gd' 'TA' 'Ex' 'no basement' 'Fa']
BsmtQual
TA             649
Gd             618
Ex             121
no basement     37
Fa              35
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 1 to 1460
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ExterCond          1460 non-null   Int64
 1   BsmtQual           1460 non-null   object
 2   BsmtCond           1460 non-null   object
 3   BsmtExposure       1460 non-null   object
 4   BsmtFinType1       1460 non-null   object
 5   BsmtFinSF1         1460 non-null   int64
 6   BsmtFinType2       1460 non-null   object
 7   BsmtFinSF2         1460 non-null   int64
 8   BsmtUnfSF          1460 non-null   int64
 9   TotalBsmtSF        1460 non-null   int64
 10  HeatingQC          1460 non-null   object
 11  CentralAir         1460 non-null   object
 12  1stFlrSF           1460 non-null   int64
 13  2ndFlrSF           1460 non-null   int64
 14  LowQualFinSF       1460 non-null   int64
 15  GrLivArea          1460 non-null   int64
 16  BsmtFullBath       1460 non-null   int64
 17  BsmtHalfBath       1460 non-null   int64
 18  FullBath           1460 non-null   int64
 19  HalfBath           1460 non-null   int64
 20  BedroomAbvGr       1460 non-null   int64
 21  KitchenAbvGr       1460 non-null   int64
 22  KitchenQual        1460 non-null   object
 23  TotRmsAbvGrd       1460 non-null   int64
 24  Foundation_CBlock  1460 non-null   bool
 25  Foundation_PConc   1460 non-null   bool
 26  Foundation_Slab    1460 non-null   bool
 27  Foundation_Stone   1460 non-null   bool
 28  Foundation_Wood    1460 non-null   bool
 29  Heating_GasA       1460 non-null   bool
 30  Heating_GasW       1460 non-null   bool
 31  Heating_Grav       1460 non-null   bool
 32  Heating_OthW       1460 non-null   bool
 33  Heating_Wall       1460 non-null   bool
 34  Electrical_FuseF   1460 non-null   bool
 35  Electrical_FuseP   1460 non-null   bool
 36  Electrical_Mix     1460 non-null   bool
 37  Electrical_SBrkr   1460 non-null   bool
dtypes: Int64(1), bool(14), int64(15), object(8)
memory usage: 306.5+ KB
None
Final unique values: <IntegerArray>
[3, 4, 2, 1, 5]
Length: 5, dtype: Int64
(1460, 38)
Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460],
      dtype='int64', name='Id', length=1460)

In [1118]:
# Transform BsmtQual (Height of the basement)

print(df_num['BsmtQual'].unique()) 
print(df_num['BsmtQual'].value_counts()) 

# Map
bsmtqual_map = {
    'Ex': 5,  # Excellent (100+ inches)	
    'Gd': 4,  # Good (90-99 inches)
    'TA': 3,  # Typical (80-89 inches)
    'Fa': 2,  # Fair (70-79 inches)
    'Po': 1,  # Poor (<70 inches)
    'no basement': 0   # No Basement
}

df_num.loc[:, 'BsmtQual'] = df_num['BsmtQual'].map(bsmtqual_map)

# Convert to Int64
df_num = df_num.copy()
df_num['BsmtQual'] = df_num['BsmtQual'].astype('Int64')

# Check
print(df_num.info())
print("Final unique values:", df_num['BsmtQual'].unique())
print(df_num.shape)

['Gd' 'TA' 'Ex' 'no basement' 'Fa']
BsmtQual
TA             649
Gd             618
Ex             121
no basement     37
Fa              35
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 1 to 1460
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ExterCond          1460 non-null   Int64
 1   BsmtQual           1460 non-null   Int64
 2   BsmtCond           1460 non-null   object
 3   BsmtExposure       1460 non-null   object
 4   BsmtFinType1       1460 non-null   object
 5   BsmtFinSF1         1460 non-null   int64
 6   BsmtFinType2       1460 non-null   object
 7   BsmtFinSF2         1460 non-null   int64
 8   BsmtUnfSF          1460 non-null   int64
 9   TotalBsmtSF        1460 non-null   int64
 10  HeatingQC          1460 non-null   object
 11  CentralAir         1460 non-null   object
 12  1stFlrSF           1460 non-null   int64
 13  2ndFlrSF           1460 non-null   int64
 14  LowQualFinSF       1460 non-null   int64
 15  GrLivArea          1460 non-null   int64
 16  BsmtFullBath       1460 non-null   int64
 17  BsmtHalfBath       1460 non-null   int64
 18  FullBath           1460 non-null   int64
 19  HalfBath           1460 non-null   int64
 20  BedroomAbvGr       1460 non-null   int64
 21  KitchenAbvGr       1460 non-null   int64
 22  KitchenQual        1460 non-null   object
 23  TotRmsAbvGrd       1460 non-null   int64
 24  Foundation_CBlock  1460 non-null   bool
 25  Foundation_PConc   1460 non-null   bool
 26  Foundation_Slab    1460 non-null   bool
 27  Foundation_Stone   1460 non-null   bool
 28  Foundation_Wood    1460 non-null   bool
 29  Heating_GasA       1460 non-null   bool
 30  Heating_GasW       1460 non-null   bool
 31  Heating_Grav       1460 non-null   bool
 32  Heating_OthW       1460 non-null   bool
 33  Heating_Wall       1460 non-null   bool
 34  Electrical_FuseF   1460 non-null   bool
 35  Electrical_FuseP   1460 non-null   bool
 36  Electrical_Mix     1460 non-null   bool
 37  Electrical_SBrkr   1460 non-null   bool
dtypes: Int64(2), bool(14), int64(15), object(7)
memory usage: 308.0+ KB
None
Final unique values: <IntegerArray>
[4, 3, 5, 0, 2]
Length: 5, dtype: Int64
(1460, 38)
Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460],
      dtype='int64', name='Id', length=1460)

In [1119]:
# BsmtCond (Evaluates the general condition of the basement)

print(df_num['BsmtCond'].unique()) 
print(df_num['BsmtCond'].value_counts()) 

# Map
BsmtCond_map = {
    'Ex': 5,  # Excellent
    'Gd': 4,  # Good
    'TA': 3,  # Typical (slight dampness allowed)
    'Fa': 2,  # Fair (dampness or some cracking or settling)
    'Po': 1,  # Poor (Severe cracking, settling, or wetness)
    'no basement': 0   # No Basement
}

df_num.loc[:, 'BsmtCond'] = df_num['BsmtCond'].map(BsmtCond_map)

# Convert to Int64
df_num = df_num.copy()
df_num['BsmtCond'] = df_num['BsmtCond'].astype('Int64')

# Check
print(df_num.info())
print("Final unique values:", df_num['BsmtCond'].unique())
print(df_num.shape)

['TA' 'Gd' 'no basement' 'Fa' 'Po']
BsmtCond
TA             1311
Gd               65
Fa               45
no basement      37
Po                2
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 1 to 1460
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ExterCond          1460 non-null   Int64
 1   BsmtQual           1460 non-null   Int64
 2   BsmtCond           1460 non-null   Int64
 3   BsmtExposure       1460 non-null   object
 4   BsmtFinType1       1460 non-null   object
 5   BsmtFinSF1         1460 non-null   int64
 6   BsmtFinType2       1460 non-null   object
 7   BsmtFinSF2         1460 non-null   int64
 8   BsmtUnfSF          1460 non-null   int64
 9   TotalBsmtSF        1460 non-null   int64
 10  HeatingQC          1460 non-null   object
 11  CentralAir         1460 non-null   object
 12  1stFlrSF           1460 non-null   int64
 13  2ndFlrSF           1460 non-null   int64
 14  LowQualFinSF       1460 non-null   int64
 15  GrLivArea          1460 non-null   int64
 16  BsmtFullBath       1460 non-null   int64
 17  BsmtHalfBath       1460 non-null   int64
 18  FullBath           1460 non-null   int64
 19  HalfBath           1460 non-null   int64
 20  BedroomAbvGr       1460 non-null   int64
 21  KitchenAbvGr       1460 non-null   int64
 22  KitchenQual        1460 non-null   object
 23  TotRmsAbvGrd       1460 non-null   int64
 24  Foundation_CBlock  1460 non-null   bool
 25  Foundation_PConc   1460 non-null   bool
 26  Foundation_Slab    1460 non-null   bool
 27  Foundation_Stone   1460 non-null   bool
 28  Foundation_Wood    1460 non-null   bool
 29  Heating_GasA       1460 non-null   bool
 30  Heating_GasW       1460 non-null   bool
 31  Heating_Grav       1460 non-null   bool
 32  Heating_OthW       1460 non-null   bool
 33  Heating_Wall       1460 non-null   bool
 34  Electrical_FuseF   1460 non-null   bool
 35  Electrical_FuseP   1460 non-null   bool
 36  Electrical_Mix     1460 non-null   bool
 37  Electrical_SBrkr   1460 non-null   bool
dtypes: Int64(3), bool(14), int64(15), object(6)
memory usage: 309.4+ KB
None
Final unique values: <IntegerArray>
[3, 4, 0, 2, 1]
Length: 5, dtype: Int64
(1460, 38)
Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460],
      dtype='int64', name='Id', length=1460)

In [1120]:
# BsmtExposure (Refers to walkout or garden level walls)

print(df_num['BsmtExposure'].unique()) 
print(df_num['BsmtExposure'].value_counts()) 

# Map
BsmtExposure_map = {
       'Gd': 4,	# Good Exposure
       'Av': 3, # Average Exposure (split levels or foyers typically score average or above)	
       'Mn': 2, # Mimimum Exposure
       'No': 1,	# No Exposure
       'no basement': 0 # No Basement
}

df_num.loc[:, 'BsmtExposure'] = df_num['BsmtExposure'].map(BsmtExposure_map)

# Convert to Int64
df_num = df_num.copy()
df_num['BsmtExposure'] = df_num['BsmtExposure'].astype('Int64')

# Check
print(df_num.info())
print("Final unique values:", df_num['BsmtExposure'].unique())
print(df_num.shape)

['No' 'Gd' 'Mn' 'Av' 'no basement']
BsmtExposure
No             953
Av             221
Gd             134
Mn             114
no basement     38
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 1 to 1460
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ExterCond          1460 non-null   Int64
 1   BsmtQual           1460 non-null   Int64
 2   BsmtCond           1460 non-null   Int64
 3   BsmtExposure       1460 non-null   Int64
 4   BsmtFinType1       1460 non-null   object
 5   BsmtFinSF1         1460 non-null   int64
 6   BsmtFinType2       1460 non-null   object
 7   BsmtFinSF2         1460 non-null   int64
 8   BsmtUnfSF          1460 non-null   int64
 9   TotalBsmtSF        1460 non-null   int64
 10  HeatingQC          1460 non-null   object
 11  CentralAir         1460 non-null   object
 12  1stFlrSF           1460 non-null   int64
 13  2ndFlrSF           1460 non-null   int64
 14  LowQualFinSF       1460 non-null   int64
 15  GrLivArea          1460 non-null   int64
 16  BsmtFullBath       1460 non-null   int64
 17  BsmtHalfBath       1460 non-null   int64
 18  FullBath           1460 non-null   int64
 19  HalfBath           1460 non-null   int64
 20  BedroomAbvGr       1460 non-null   int64
 21  KitchenAbvGr       1460 non-null   int64
 22  KitchenQual        1460 non-null   object
 23  TotRmsAbvGrd       1460 non-null   int64
 24  Foundation_CBlock  1460 non-null   bool
 25  Foundation_PConc   1460 non-null   bool
 26  Foundation_Slab    1460 non-null   bool
 27  Foundation_Stone   1460 non-null   bool
 28  Foundation_Wood    1460 non-null   bool
 29  Heating_GasA       1460 non-null   bool
 30  Heating_GasW       1460 non-null   bool
 31  Heating_Grav       1460 non-null   bool
 32  Heating_OthW       1460 non-null   bool
 33  Heating_Wall       1460 non-null   bool
 34  Electrical_FuseF   1460 non-null   bool
 35  Electrical_FuseP   1460 non-null   bool
 36  Electrical_Mix     1460 non-null   bool
 37  Electrical_SBrkr   1460 non-null   bool
dtypes: Int64(4), bool(14), int64(15), object(5)
memory usage: 310.8+ KB
None
Final unique values: <IntegerArray>
[1, 4, 2, 3, 0]
Length: 5, dtype: Int64
(1460, 38)
Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460],
      dtype='int64', name='Id', length=1460)

In [1121]:
# BsmtFinType1  (Rating of basement finished area)

print(df_num['BsmtFinType1'].unique()) 
print(df_num['BsmtFinType1'].value_counts()) 

# Map
BsmtFinType1_map = {
       'GLQ': 6, #	Good Living Quarters
       'ALQ': 5, #	Average Living Quarters
       'BLQ': 4, #	Below Average Living Quarters	
       'Rec': 3, #	Average Rec Room
       'LwQ': 2, # 	Low Quality
       'Unf': 1, #	Unfinshed
       'no basement': 0 #	No Basement
}

df_num.loc[:, 'BsmtFinType1'] = df_num['BsmtFinType1'].map(BsmtFinType1_map)

# Convert to Int64
df_num = df_num.copy()
df_num['BsmtFinType1'] = df_num['BsmtFinType1'].astype('Int64')

# Check
print(df_num.info())
print("Final unique values:", df_num['BsmtFinType1'].unique())
print(df_num.shape)

['GLQ' 'ALQ' 'Unf' 'Rec' 'BLQ' 'no basement' 'LwQ']
BsmtFinType1
Unf            430
GLQ            418
ALQ            220
BLQ            148
Rec            133
LwQ             74
no basement     37
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 1 to 1460
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ExterCond          1460 non-null   Int64
 1   BsmtQual           1460 non-null   Int64
 2   BsmtCond           1460 non-null   Int64
 3   BsmtExposure       1460 non-null   Int64
 4   BsmtFinType1       1460 non-null   Int64
 5   BsmtFinSF1         1460 non-null   int64
 6   BsmtFinType2       1460 non-null   object
 7   BsmtFinSF2         1460 non-null   int64
 8   BsmtUnfSF          1460 non-null   int64
 9   TotalBsmtSF        1460 non-null   int64
 10  HeatingQC          1460 non-null   object
 11  CentralAir         1460 non-null   object
 12  1stFlrSF           1460 non-null   int64
 13  2ndFlrSF           1460 non-null   int64
 14  LowQualFinSF       1460 non-null   int64
 15  GrLivArea          1460 non-null   int64
 16  BsmtFullBath       1460 non-null   int64
 17  BsmtHalfBath       1460 non-null   int64
 18  FullBath           1460 non-null   int64
 19  HalfBath           1460 non-null   int64
 20  BedroomAbvGr       1460 non-null   int64
 21  KitchenAbvGr       1460 non-null   int64
 22  KitchenQual        1460 non-null   object
 23  TotRmsAbvGrd       1460 non-null   int64
 24  Foundation_CBlock  1460 non-null   bool
 25  Foundation_PConc   1460 non-null   bool
 26  Foundation_Slab    1460 non-null   bool
 27  Foundation_Stone   1460 non-null   bool
 28  Foundation_Wood    1460 non-null   bool
 29  Heating_GasA       1460 non-null   bool
 30  Heating_GasW       1460 non-null   bool
 31  Heating_Grav       1460 non-null   bool
 32  Heating_OthW       1460 non-null   bool
 33  Heating_Wall       1460 non-null   bool
 34  Electrical_FuseF   1460 non-null   bool
 35  Electrical_FuseP   1460 non-null   bool
 36  Electrical_Mix     1460 non-null   bool
 37  Electrical_SBrkr   1460 non-null   bool
dtypes: Int64(5), bool(14), int64(15), object(4)
memory usage: 312.2+ KB
None
Final unique values: <IntegerArray>
[6, 5, 1, 3, 4, 0, 2]
Length: 7, dtype: Int64
(1460, 38)
Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460],
      dtype='int64', name='Id', length=1460)

In [1122]:
# BsmtFinType2  (Rating of basement finished area (if multiple types))

print(df_num['BsmtFinType2'].unique()) 
print(df_num['BsmtFinType2'].value_counts()) 

# Map
BsmtFinType2_map = {
       'GLQ': 6, #	Good Living Quarters
       'ALQ': 5, #	Average Living Quarters
       'BLQ': 4, #	Below Average Living Quarters	
       'Rec': 3, #	Average Rec Room
       'LwQ': 2, # 	Low Quality
       'Unf': 1, #	Unfinshed
       'no basement': 0 #	No Basement
}

df_num.loc[:, 'BsmtFinType2'] = df_num['BsmtFinType2'].map(BsmtFinType2_map)

# Convert to Int64
df_num = df_num.copy()
df_num['BsmtFinType2'] = df_num['BsmtFinType2'].astype('Int64')

# Check
print(df_num.info())
print("Final unique values:", df_num['BsmtFinType2'].unique())
print(df_num.shape)

['Unf' 'BLQ' 'no basement' 'ALQ' 'Rec' 'LwQ' 'GLQ']
BsmtFinType2
Unf            1256
Rec              54
LwQ              46
no basement      38
BLQ              33
ALQ              19
GLQ              14
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 1 to 1460
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ExterCond          1460 non-null   Int64
 1   BsmtQual           1460 non-null   Int64
 2   BsmtCond           1460 non-null   Int64
 3   BsmtExposure       1460 non-null   Int64
 4   BsmtFinType1       1460 non-null   Int64
 5   BsmtFinSF1         1460 non-null   int64
 6   BsmtFinType2       1460 non-null   Int64
 7   BsmtFinSF2         1460 non-null   int64
 8   BsmtUnfSF          1460 non-null   int64
 9   TotalBsmtSF        1460 non-null   int64
 10  HeatingQC          1460 non-null   object
 11  CentralAir         1460 non-null   object
 12  1stFlrSF           1460 non-null   int64
 13  2ndFlrSF           1460 non-null   int64
 14  LowQualFinSF       1460 non-null   int64
 15  GrLivArea          1460 non-null   int64
 16  BsmtFullBath       1460 non-null   int64
 17  BsmtHalfBath       1460 non-null   int64
 18  FullBath           1460 non-null   int64
 19  HalfBath           1460 non-null   int64
 20  BedroomAbvGr       1460 non-null   int64
 21  KitchenAbvGr       1460 non-null   int64
 22  KitchenQual        1460 non-null   object
 23  TotRmsAbvGrd       1460 non-null   int64
 24  Foundation_CBlock  1460 non-null   bool
 25  Foundation_PConc   1460 non-null   bool
 26  Foundation_Slab    1460 non-null   bool
 27  Foundation_Stone   1460 non-null   bool
 28  Foundation_Wood    1460 non-null   bool
 29  Heating_GasA       1460 non-null   bool
 30  Heating_GasW       1460 non-null   bool
 31  Heating_Grav       1460 non-null   bool
 32  Heating_OthW       1460 non-null   bool
 33  Heating_Wall       1460 non-null   bool
 34  Electrical_FuseF   1460 non-null   bool
 35  Electrical_FuseP   1460 non-null   bool
 36  Electrical_Mix     1460 non-null   bool
 37  Electrical_SBrkr   1460 non-null   bool
dtypes: Int64(6), bool(14), int64(15), object(3)
memory usage: 313.7+ KB
None
Final unique values: <IntegerArray>
[1, 4, 0, 5, 3, 2, 6]
Length: 7, dtype: Int64
(1460, 38)
Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460],
      dtype='int64', name='Id', length=1460)

In [1123]:
# HeatingQC: Heating quality and condition

print(df_num['HeatingQC'].unique()) 
print(df_num['HeatingQC'].value_counts())

#Map
HeatingQC_map = {
    'Ex': 5,  # Excellent
    'Gd': 4,  # Good
    'TA': 3,  # Average/Typical 
    'Fa': 2,  # Fair 
    'Po': 1,  # Poor 
}
df_num.loc[:, 'HeatingQC'] = df_num['HeatingQC'].map(HeatingQC_map)

# Convert to Int64
df_num = df_num.copy()
df_num['HeatingQC'] = df_num['HeatingQC'].astype('Int64')

# Check
print(df_num.info())
print("Final unique values:", df_num['HeatingQC'].unique())
print(df_num.shape)

['Ex' 'Gd' 'TA' 'Fa' 'Po']
HeatingQC
Ex    741
TA    428
Gd    241
Fa     49
Po      1
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 1 to 1460
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ExterCond          1460 non-null   Int64
 1   BsmtQual           1460 non-null   Int64
 2   BsmtCond           1460 non-null   Int64
 3   BsmtExposure       1460 non-null   Int64
 4   BsmtFinType1       1460 non-null   Int64
 5   BsmtFinSF1         1460 non-null   int64
 6   BsmtFinType2       1460 non-null   Int64
 7   BsmtFinSF2         1460 non-null   int64
 8   BsmtUnfSF          1460 non-null   int64
 9   TotalBsmtSF        1460 non-null   int64
 10  HeatingQC          1460 non-null   Int64
 11  CentralAir         1460 non-null   object
 12  1stFlrSF           1460 non-null   int64
 13  2ndFlrSF           1460 non-null   int64
 14  LowQualFinSF       1460 non-null   int64
 15  GrLivArea          1460 non-null   int64
 16  BsmtFullBath       1460 non-null   int64
 17  BsmtHalfBath       1460 non-null   int64
 18  FullBath           1460 non-null   int64
 19  HalfBath           1460 non-null   int64
 20  BedroomAbvGr       1460 non-null   int64
 21  KitchenAbvGr       1460 non-null   int64
 22  KitchenQual        1460 non-null   object
 23  TotRmsAbvGrd       1460 non-null   int64
 24  Foundation_CBlock  1460 non-null   bool
 25  Foundation_PConc   1460 non-null   bool
 26  Foundation_Slab    1460 non-null   bool
 27  Foundation_Stone   1460 non-null   bool
 28  Foundation_Wood    1460 non-null   bool
 29  Heating_GasA       1460 non-null   bool
 30  Heating_GasW       1460 non-null   bool
 31  Heating_Grav       1460 non-null   bool
 32  Heating_OthW       1460 non-null   bool
 33  Heating_Wall       1460 non-null   bool
 34  Electrical_FuseF   1460 non-null   bool
 35  Electrical_FuseP   1460 non-null   bool
 36  Electrical_Mix     1460 non-null   bool
 37  Electrical_SBrkr   1460 non-null   bool
dtypes: Int64(7), bool(14), int64(15), object(2)
memory usage: 315.1+ KB
None
Final unique values: <IntegerArray>
[5, 4, 3, 2, 1]
Length: 5, dtype: Int64
(1460, 38)
Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460],
      dtype='int64', name='Id', length=1460)

In [1124]:
# KitchenQual: Kitchen quality

print(df_num['KitchenQual'].unique()) 
print(df_num['KitchenQual'].value_counts())

#Map
KitchenQual_map = {
    'Ex': 5,  # Excellent
    'Gd': 4,  # Good
    'TA': 3,  # Average/Typical 
    'Fa': 2,  # Fair 
    'Po': 1,  # Poor 
}
df_num.loc[:, 'KitchenQual'] = df_num['KitchenQual'].map(KitchenQual_map)

# Convert to Int64
df_num = df_num.copy()
df_num['KitchenQual'] = df_num['KitchenQual'].astype('Int64')

# Check
print(df_num.info())
print("Final unique values:", df_num['KitchenQual'].unique())
print(df_num.shape)

['Gd' 'TA' 'Ex' 'Fa']
KitchenQual
TA    735
Gd    586
Ex    100
Fa     39
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 1 to 1460
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ExterCond          1460 non-null   Int64
 1   BsmtQual           1460 non-null   Int64
 2   BsmtCond           1460 non-null   Int64
 3   BsmtExposure       1460 non-null   Int64
 4   BsmtFinType1       1460 non-null   Int64
 5   BsmtFinSF1         1460 non-null   int64
 6   BsmtFinType2       1460 non-null   Int64
 7   BsmtFinSF2         1460 non-null   int64
 8   BsmtUnfSF          1460 non-null   int64
 9   TotalBsmtSF        1460 non-null   int64
 10  HeatingQC          1460 non-null   Int64
 11  CentralAir         1460 non-null   object
 12  1stFlrSF           1460 non-null   int64
 13  2ndFlrSF           1460 non-null   int64
 14  LowQualFinSF       1460 non-null   int64
 15  GrLivArea          1460 non-null   int64
 16  BsmtFullBath       1460 non-null   int64
 17  BsmtHalfBath       1460 non-null   int64
 18  FullBath           1460 non-null   int64
 19  HalfBath           1460 non-null   int64
 20  BedroomAbvGr       1460 non-null   int64
 21  KitchenAbvGr       1460 non-null   int64
 22  KitchenQual        1460 non-null   Int64
 23  TotRmsAbvGrd       1460 non-null   int64
 24  Foundation_CBlock  1460 non-null   bool
 25  Foundation_PConc   1460 non-null   bool
 26  Foundation_Slab    1460 non-null   bool
 27  Foundation_Stone   1460 non-null   bool
 28  Foundation_Wood    1460 non-null   bool
 29  Heating_GasA       1460 non-null   bool
 30  Heating_GasW       1460 non-null   bool
 31  Heating_Grav       1460 non-null   bool
 32  Heating_OthW       1460 non-null   bool
 33  Heating_Wall       1460 non-null   bool
 34  Electrical_FuseF   1460 non-null   bool
 35  Electrical_FuseP   1460 non-null   bool
 36  Electrical_Mix     1460 non-null   bool
 37  Electrical_SBrkr   1460 non-null   bool
dtypes: Int64(8), bool(14), int64(15), object(1)
memory usage: 316.5+ KB
None
Final unique values: <IntegerArray>
[4, 3, 5, 2]
Length: 4, dtype: Int64
(1460, 38)
Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460],
      dtype='int64', name='Id', length=1460)

In [1125]:
# Central Air (Central air conditioning)
# Binary variable

print(df_num['CentralAir'].unique()) 
print(df_num['CentralAir'].value_counts())

# Map 'Y' to 1 and 'N' to 0
mapped_column = df_num['CentralAir'].map({'Y': 1, 'N': 0}).astype(bool)

df_num['CentralAir'] = mapped_column

# recheck the values
print('The Unique values of CentralAir are', df_num['CentralAir'].unique())
print('Info on this variable is', df_num['CentralAir'].info())
print('Value Counts for this variable are', df_num['CentralAir'].value_counts())

# Check
print(df_num.info())
print("Final unique values:", df_num['CentralAir'].unique())
print(df_num.shape)

['Y' 'N']
CentralAir
Y    1365
N      95
Name: count, dtype: int64
The Unique values of CentralAir are [ True False]
<class 'pandas.core.series.Series'>
Index: 1460 entries, 1 to 1460
Series name: CentralAir
Non-Null Count  Dtype
--------------  -----
1460 non-null   bool
dtypes: bool(1)
memory usage: 12.8 KB
Info on this variable is None
Value Counts for this variable are CentralAir
True     1365
False      95
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 1460 entries, 1 to 1460
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ExterCond          1460 non-null   Int64
 1   BsmtQual           1460 non-null   Int64
 2   BsmtCond           1460 non-null   Int64
 3   BsmtExposure       1460 non-null   Int64
 4   BsmtFinType1       1460 non-null   Int64
 5   BsmtFinSF1         1460 non-null   int64
 6   BsmtFinType2       1460 non-null   Int64
 7   BsmtFinSF2         1460 non-null   int64
 8   BsmtUnfSF          1460 non-null   int64
 9   TotalBsmtSF        1460 non-null   int64
 10  HeatingQC          1460 non-null   Int64
 11  CentralAir         1460 non-null   bool
 12  1stFlrSF           1460 non-null   int64
 13  2ndFlrSF           1460 non-null   int64
 14  LowQualFinSF       1460 non-null   int64
 15  GrLivArea          1460 non-null   int64
 16  BsmtFullBath       1460 non-null   int64
 17  BsmtHalfBath       1460 non-null   int64
 18  FullBath           1460 non-null   int64
 19  HalfBath           1460 non-null   int64
 20  BedroomAbvGr       1460 non-null   int64
 21  KitchenAbvGr       1460 non-null   int64
 22  KitchenQual        1460 non-null   Int64
 23  TotRmsAbvGrd       1460 non-null   int64
 24  Foundation_CBlock  1460 non-null   bool
 25  Foundation_PConc   1460 non-null   bool
 26  Foundation_Slab    1460 non-null   bool
 27  Foundation_Stone   1460 non-null   bool
 28  Foundation_Wood    1460 non-null   bool
 29  Heating_GasA       1460 non-null   bool
 30  Heating_GasW       1460 non-null   bool
 31  Heating_Grav       1460 non-null   bool
 32  Heating_OthW       1460 non-null   bool
 33  Heating_Wall       1460 non-null   bool
 34  Electrical_FuseF   1460 non-null   bool
 35  Electrical_FuseP   1460 non-null   bool
 36  Electrical_Mix     1460 non-null   bool
 37  Electrical_SBrkr   1460 non-null   bool
dtypes: Int64(8), bool(15), int64(15)
memory usage: 306.5 KB
None
Final unique values: [ True False]
(1460, 38)
Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460],
      dtype='int64', name='Id', length=1460)

In [1127]:
display(df_num.head(20))

,ExterCond,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,HeatingQC,CentralAir,1stFlrSF,...,Foundation_PConc,Foundation_Slab,Foundation_Stone,Foundation_Wood,Heating_GasA,Heating_GasW,Heating_Grav,Heating_OthW,Heating_Wall,Electrical_FuseF,Electrical_FuseP,Electrical_Mix,Electrical_SBrkr
Id,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,3,4,3,1,6,706,1,0,150,856,5,True,856,...,True,False,False,False,True,False,False,False,False,False,False,False,True
2,3,4,3,4,5,978,1,0,284,1262,5,True,1262,...,False,False,False,False,True,False,False,False,False,False,False,False,True
3,3,4,3,2,6,486,1,0,434,920,5,True,920,...,True,False,False,False,True,False,False,False,False,False,False,False,True
4,3,3,4,1,5,216,1,0,540,756,4,True,961,...,False,False,False,False,True,False,False,False,False,False,False,False,True
5,3,4,3,3,6,655,1,0,490,1145,5,True,1145,...,True,False,False,False,True,False,False,False,False,False,False,False,True
6,3,4,3,1,6,732,1,0,64,796,5,True,796,...,False,False,False,True,True,False,False,False,False,False,False,False,True
7,3,5,3,3,6,1369,1,0,317,1686,5,True,1694,...,True,False,False,False,True,False,False,False,False,False,False,False,True
8,3,4,3,2,5,859,4,32,216,1107,5,True,1107,...,False,False,False,False,True,False,False,False,False,False,False,False,True
9,3,3,3,1,1,0,1,0,952,952,4,True,1022,...,False,False,False,False,True,False,False,False,False,True,False,False,False
10,3,3,3,1,6,851,1,0,140,991,5,True,1077,...,False,False,False,False,True,False,False,False,False,False,False,False,True
11,3,3,3,1,3,906,1,0,134,1040,5,True,1040,...,False,False,False,False,True,False,False,False,False,False,False,False,True
12,3,5,3,1,6,998,1,0,177,1175,5,True,1182,...,True,False,False,False,True,False,False,False,False,False,False,False,True
13,3,3,3,1,5,737,1,0,175,912,3,True,912,...,False,False,False,False,True,False,False,False,False,False,False,False,True
14,3,4,3,3,1,0,1,0,1494,1494,5,True,1494,...,True,False,False,False,True,False,False,False,False,False,False,False,True
15,3,3,3,1,4,733,1,0,520,1253,3,True,1253,...,False,False,False,False,True,False,False,False,False,False,False,False,True
16,3,3,3,1,1,0,1,0,832,832,5,True,854,...,False,False,False,False,True,False,False,False,False,False,False,False,False
17,3,3,3,1,5,578,1,0,426,1004,5,True,1004,...,False,False,False,False,True,False,False,False,False,False,False,False,True
18,3,0,0,0,0,0,0,0,0,0,3,True,1296,...,False,True,False,False,True,False,False,False,False,False,False,False,True
19,3,3,3,1,6,646,1,0,468,1114,5,True,1114,...,True,False,False,False,True,False,False,False,False,False,False,False,True
20,3,3,3,1,2,504,1,0,525,1029,3,True,1339,...,False,False,False,False,True,False,False,False,False,False,False,False,True

In [1128]:
!git status

On branch Data_Inspection_Vars_28_54
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   Data_Inspection_Vars_28_54.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	Untitled.ipynb

no changes added to commit (use "git add" and/or "git commit -a")

In [1129]:
!git add Data_Inspection_Vars_28_54.ipynb

warning: in the working copy of 'Data_Inspection_Vars_28_54.ipynb', LF will be replaced by CRLF the next time Git touches it

In [1131]:
!git commit -m "Updated data inspection notebook with changes to variables 28-54"

[Data_Inspection_Vars_28_54 832e60f] Updated data inspection notebook with changes to variables 28-54
 1 file changed, 1952 insertions(+), 94 deletions(-)

In [1132]:
!echo ".ipynb_checkpoints/" >> .gitignore
!echo "Untitled.ipynb" >> .gitignore
!git add .gitignore
!git commit -m "Updated .gitignore to exclude checkpoints and untitled notebooks"

[Data_Inspection_Vars_28_54 1a8ed53] Updated .gitignore to exclude checkpoints and untitled notebooks
 1 file changed, 2 insertions(+)

In [1133]:
!git push origin Data_Inspection_Vars_28_54

To https://github.com/AaronMartin78/Kaggle-Competition-Housing-Prices-I
   ba6b568..1a8ed53  Data_Inspection_Vars_28_54 -> Data_Inspection_Vars_28_54

In [37]:
df_selected = df_selected.copy()

# Define binary variables
binary_vars = ['CentralAir']

def create_mapping(categories, variable):
    mapping = {}
    
    # Handle binary variables
    if variable in binary_vars:
        mapping = {'N': 0, 'Y': 1}
        return mapping
    
    # Handle ordinal variables
    start_idx = 0
    if categories[0] == 'no basement':
        mapping['no basement'] = 0
        start_idx = 1
    
    for i, category in enumerate(categories[start_idx:], start=1):
        mapping[category] = i
        
    return mapping

# Create all mappings and apply them to the dataframe
for variable, categories in var_dict.items():
    # Create mapping for this variable
    mapping = create_mapping(categories, variable)
    
    # Apply mapping using .loc
    df_selected.loc[:, variable] = df_selected.loc[:, variable].map(mapping)
    
    # Convert to Int64 using .loc
    df_selected.loc[:, variable] = df_selected.loc[:, variable].astype('Int64')
    
    # Print results for verification
    print(f"\nProcessed {variable}:")
    print("Mapping:", mapping)
    print("Unique values:", df_selected[variable].unique())

Processed ExterCond:
Mapping: {'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}
Unique values: <IntegerArray>
[<NA>]
Length: 1, dtype: Int64

Processed BsmtQual:
Mapping: {'no basement': 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}
Unique values: <IntegerArray>
[<NA>]
Length: 1, dtype: Int64

Processed BsmtCond:
Mapping: {'no basement': 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}
Unique values: <IntegerArray>
[<NA>]
Length: 1, dtype: Int64

Processed BsmtExposure:
Mapping: {'no basement': 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4}
Unique values: <IntegerArray>
[<NA>]
Length: 1, dtype: Int64

Processed BsmtFinType1:
Mapping: {'no basement': 0, 'Unf': 1, 'LwQ': 2, 'Rec': 3, 'BLQ': 4, 'ALQ': 5, 'GLQ': 6}
Unique values: <IntegerArray>
[<NA>]
Length: 1, dtype: Int64

Processed BsmtFinType2:
Mapping: {'no basement': 0, 'Unf': 1, 'LwQ': 2, 'Rec': 3, 'BLQ': 4, 'ALQ': 5, 'GLQ': 6}
Unique values: <IntegerArray>
[<NA>]
Length: 1, dtype: Int64

Processed HeatingQC:
Mapping: {'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}
Unique values: <IntegerArray>
[<NA>]
Length: 1, dtype: Int64

Processed CentralAir:
Mapping: {'N': 0, 'Y': 1}
Unique values: <IntegerArray>
[<NA>]
Length: 1, dtype: Int64

Processed KitchenQual:
Mapping: {'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}
Unique values: <IntegerArray>
[<NA>]
Length: 1, dtype: Int64

In [ ]:
def map_ordinal_variables(df_selected, var_dict):
    """
    Maps ordinal variables using the pre-cleaned df_selected DataFrame
    """
    df_mapped = df_selected.copy()
    binary_vars = ['CentralAir']
    
    for variable, categories in var_dict.items():
        print(f"\nProcessing {variable}")
        print("Original values:", df_mapped[variable].unique())
        
        # Create mapping dictionary
        if variable in binary_vars:
            mapping = {'N': 0, 'Y': 1}
        else:
            start_idx = 0
            if categories[0] == 'no basement':
                mapping = {'no basement': 0}
                start_idx = 1
            else:
                mapping = {}
            
            for i, category in enumerate(categories[start_idx:], start=1):
                mapping[category] = i
        
        print("Mapping:", mapping)
        
        # Apply mapping using replace
        df_mapped[variable] = df_mapped[variable].replace(mapping)
        
        print("Final values:", sorted(df_mapped[variable].unique()))
        print("Value counts:", df_mapped[variable].value_counts().sort_index())
        
    return df_mapped

# Example usage with df_selected:
df_mapped = map_ordinal_variables(df_selected, var_dict)

In [ ]:
def map_ordinal_variables(df_selected, var_dict):
    """
    Maps ordinal variables for the selected DataFrame with proper type handling
    """
    df_mapped = df_selected.copy()
    binary_vars = ['CentralAir']
    
    for variable, categories in var_dict.items():
        print(f"\nProcessing {variable}")
        
        # Create mapping dictionary
        if variable in binary_vars:
            mapping = {'N': 0, 'Y': 1}
        else:
            start_idx = 0
            if categories[0] == 'no basement':
                mapping = {'no basement': 0}
                start_idx = 1
            else:
                mapping = {}
            
            for i, category in enumerate(categories[start_idx:], start=1):
                mapping[category] = i
        
        # Apply mapping and convert to integer
        df_mapped[variable] = pd.to_numeric(df_mapped[variable].replace(mapping))
        
        print("Mapping:", mapping)
        print("Final values:", df_mapped[variable].value_counts().sort_index().index.tolist())
        print("Value counts:\n", df_mapped[variable].value_counts().sort_index())
        
    return df_mapped

# Example usage:
df_mapped = map_ordinal_variables(df_selected, var_dict)

In [ ]:
###Chat GPT MOdel

# Define binary variables
binary_vars = ['CentralAir']

def create_mapping(categories, variable):
    mapping = {}
    
    # Handle binary variables
    if variable in binary_vars:
        mapping = {'N': 0, 'Y': 1}
        return mapping
    
    # Handle ordinal variables
    start_idx = 0
    if categories[0] == 'no basement':
        mapping['no basement'] = 0
        start_idx = 1
    
    for i, category in enumerate(categories[start_idx:], start=1):
        mapping[category] = i
        
    return mapping

# Debugging function to find mismatched values
def find_mismatches(df, variable, mapping):
    actual_values = set(df[variable].unique())
    mapping_keys = set(mapping.keys())
    mismatched_values = actual_values - mapping_keys
    return mismatched_values

# Create all mappings and apply them to the dataframe
for variable, categories in var_dict.items():
    # Create mapping for this variable
    mapping = create_mapping(categories, variable)
    
    # Find mismatched values
    mismatches = find_mismatches(df_selected, variable, mapping)
    if mismatches:
        print(f"Warning: Mismatched values for '{variable}': {mismatches}")
    
    # Apply mapping using .loc
    df_selected.loc[:, variable] = df_selected.loc[:, variable].map(mapping)
    
    # Convert to Int64 using .loc
    df_selected.loc[:, variable] = df_selected.loc[:, variable].astype('Int64')
    
    # Print results for verification
    print(f"\nProcessed {variable}:")
    print("Mapping:", mapping)
    print("Unique values in DataFrame:", df_selected[variable].unique())